.instagram {
    padding: 2em 0;

    .container {
        max-width: 1600px;
    }

    .section-heading {
        width: 100%;
        margin: 0 0 3em;
        text-align: center;

        .icon {
            font-size: 2rem;
            margin-bottom: 0.5em;
        }
    }
}
