.notification {
    margin: 0 auto;
    padding: 0.5em;
    background: $color-1;
    background: linear-gradient(to right, $color-0, $color-1, $color-2);
    color: #fff;
    text-align: center;

    .container {
        padding: 0;

        * {
            color: #fff;
            font-size: 1rem;
        }
    }

    + .header {
        &::before {
            display: none;
        }
    }
}
