.videos {
    margin: 4vh auto;

    .container {
        padding: 0;
    }

    .group {
        margin: 0 -1em;

        @media (max-width: 1650px) {
            margin: 0;
        }
    }

    &-item {
        width: calc(50% - 2em);
        margin: 1em;
    }
}
